h1 {
    color: rgb(173, 63, 150);
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
    color: rgb(31, 218, 146);
    font-family: Helvetica, Arial, sans-serif;
}
h3 {
    color: rgb(247, 147, 16);
    font-family: Helvetica, Arial, sans-serif;
}   
p {
    font-family: Helvetica, Arial, sans-serif;
}